html,
body {
  margin: 0;
  padding: 0;
  background: #297a3a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button {
  background-color: yellow;
  margin: 10px;
  font-size: large;
  cursor: pointer;
  border: none;
}

button#draw-cards {
  background-color: tomato;
  padding: 5px;
  align-items: stretch;
}

button#new-cards {
  align-self: flex-start;
  background-color: yellow;
  padding: 5px;
}

h1 {
  text-align: center;
  color: white;
}

div.card-slot {
  /* border: 1px solid black; */
  border-radius: 5px;
  height: 120px;
  width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
  margin-bottom: 50px;
}

img.card {
  width: 100%;
}
